<div class="jumbotrol">
    <div class="container">
        <div class="row">
            <div class="com-md-6 offset-md-3">
                <h2>Reactive Form Demo</h2>

                <form [formGroup]="registerForm" (ngSubmit)="OnSubmit()">
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" formControlName="firstName" 
                        class="form-control" [ngClass]="{'is-invalid': submitted && f['firstName'].errors}"/>
                    <!--custom valiadtion-->
                    <div *ngIf="submitted && f['firstName'].errors">
                        <div *ngIf="submitted && f['firstName'].errors['required']">
                                First Name is required and Can't be Empty
                        </div>
                    </div>
                    
                    </div>


                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" formControlName="lastName" 
                        class="form-control" [ngClass]="{'is-invalid': submitted && f['lastName'].errors}"/>
                    <!--custom valiadtion-->
                    <div *ngIf="submitted && f['lastName'].errors">
                        <div *ngIf="submitted && f['lastName'].errors['required']">
                                Last Name is required and Can't be Empty
                        </div>
                    </div>
                    
                    </div>

                    
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" formControlName="email" 
                        class="form-control" [ngClass]="{'is-invalid': submitted && f['email'].errors}"/>
                    <!--custom valiadtion-->
                    <div *ngIf="submitted && f['email'].errors">
                        <div *ngIf="submitted && f['email'].errors['required']">
                                Email is required and Can't be Empty
                        </div>
                    </div>
                    
                    </div>

                    <div class="form-group">
                        <label>Password</label>
                        <input type="text" formControlName="password" 
                        class="form-control" [ngClass]="{'is-invalid': submitted && f['password'].errors}"/>
                    <!--custom valiadtion-->
                    <div *ngIf="submitted && f['password'].errors">
                        <div *ngIf="submitted && f['password'].errors['required']">
                                Passwrod is required must be min 8 character long
                        </div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary">Register</button>
                    </div>
                    
                    </div>
                    

                </form>

            </div>
        </div>
    </div>


</div>